.title-nav {
    color: rgb(233, 233, 27);
    font-weight: bold;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: black;
    position: relative;
}

.nav-link:hover {
    border-bottom: 2px;
    color: red;
}

.nav-link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid gray;
}

.btn {
    font-family: 'Raleway', sans-serif;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: orange;
    border: 1px solid orange;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

body {
    font-family:'Poppins', sans-serif;
    background-color: #C51605;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span {
    color: #FFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
}

h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #FFF;
    padding: 0 0 0 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

i {
    position: relative;
    top: -31px;
    left: 17px;
    color: #FFF;
}

::-webkit-input-placeholder {
    color: #FFF;
    font-size: 13px;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    outline: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.submit:hover {
    background-color: orange;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #FFF;
    margin-top: 10px;
}

.left input {
    display: none;
}

.left input + label::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.left input:checked + label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: orange;
    border: none;
    padding: 9px;
}
.esqueceu-link {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.esqueceu-link:hover {
    color: orange;
}

.bottom-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    flex-direction: column;
}

.cadastro-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    height: 30px;
    outline: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.cadastro-link:hover {
    background-color: orange;
    color: black;
}

