.modal-title {
    font-weight: 800;
    font-size: 20px;
}

.modal-body {
    display: flex;
    gap: 6px;
}

.card-img-modal {
    height: 200px;
    width: 200px;
}

.modal-text {
    text-align: justify;
}

@media (min-width: 768px) {
    .button-modal {
        font-size: 20px;
    }
}
