.modal-title {
    font-weight: 800;
    font-size: 20px;
}

.modal-body {
    display: flex;
    gap: 6px;
}

.card-img-modal {
    height: 200px;
    width: 200px;
}

.modal-text {
    text-align: justify;
}

.section-cartaz .button-modal {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: bold;
}

.div-selects-cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 768px) {
    .section-cartaz .button-modal {
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-weight: bold;
    }

    .section-cartaz .button-sinopse {
        font-size: 10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .section-breve .button-sinopse {
        font-size: 10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}
