.section-breve {
    background-color: #F1C93B;
    height: 70vh;
}

.section-breve .section-title {
    color: black;
}

.section-breve .card {
    height: 300px;
    transition: 0.3s ease-in-out;
}

.section-breve .card:hover {
    transform: scale(1.1);
}

.card-bg {
    background-color: #C51605;
    margin: 0 60px 0 60px;
    border-radius: 20px;
}

.card-breve {
    height: 200px;
}

.section-breve .btn {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.section-breve .btn:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.section-breve .cards-section {
    padding: 25px 0 0 0;
}

@media(max-width: 360px) {
    .card-bg {
        background-color: #F1C93B;
    }

    .section-breve {
        background-color: #F1C93B;
        height: 8s0vh;
    }    

    .section-breve .card {
        height: 180px;
        width: 85px;
        transition: 0.3s ease-in-out;
    }

    .cards-cartaz-breve {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    .card-title-breve {
        font-size: 9px;
    }

    .card-breve {
        height: 100px;
        width: 85px;
    }

    .section-breve .btn {
        font-size: 8px;
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
    }
}