.section-cartaz {
    background-image: url(../images/fundo-cinema.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 550px;
    height: 70vh;
    border-bottom: 6px solid black;
}

.card-img-top {
  height: 200px;
}

.section-title {
    text-align: center;
    padding: 30px 0 30px 0;
    color: white;
}

.card {
    transition: 0.3s ease-in-out;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card:hover {
    transform: scale(1.1);
}

.cards-section {
    padding: 0 0 20px 0;
    height: 350px;
}

.section-cartaz .btn {
    background-color: white;
    border: 1px solid red;
    color: red;
    font-size: 15px;
}

.section-cartaz .btn:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.link-cartaz {
    color: black;
}

.link-cartaz:hover {
    color: gray;
}

