.section-cartaz {
    background-image: url(../images/fundo-cinema.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 1000px;
    height: 100vh;
    border-bottom: 6px solid black;
}

.card-img-top {
  height: 300px;
}

.section-title {
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
}

.card {
    transition: 0.3s ease-in-out;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card:hover {
    transform: scale(0.9);
}

.cards-section {
    padding: 0 0 20px 0;
}

.card-text {
    padding: 0 0 10px 0;
    text-align: justify;
    letter-spacing: normal;
}




