body {
    font-family: 'Raleway', sans-serif;
}

.title-nav {
    color: rgb(233, 233, 27);
    font-weight: bold;
    font-size: 26px;
}

strong {
    color: red;
}

.nav-icon {
    color: red;
}

.nav-link {
    color: black;
    position: relative;
}

.nav-link:hover {
    border-bottom: 2px;
    color: red;
}

.nav-link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid gray;
}

.btn {
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: orange;
    border: 1px solid orange;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
}

.carousel-indicators {
    padding: 20px;
}

.carousel-indicators .active {
    background-color: red;
}

h2 {
    font-size: 48px;
    font-weight: 400px;
}

h5 {
    font-weight: bold;
}

p {
    line-height: 20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media(max-width: 768px) {
    .carousel-indicators {
        display: none;
    }

    h2 {
        font-size: 20px;
    }


    .nav-icon {
        color: black;
        padding: 4px;
    }
}